@import "src/assets/styles/variables.scss";

.image {
  position: relative;
  border-bottom: 4px solid $contrast-color;
  transition: 0.5s;
  height: 250px;
  margin-bottom: 5px;

  &:after {
    opacity: 0;
    content: " ";
    transition: 0.5s;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background: rgb(207, 20, 48);
    background: linear-gradient(
      0deg,
      rgba(207, 20, 48, 0.6474964985994398) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }
}

.content {
  padding: 20px 0;

  .title {
    position: relative;
    display: inline-block;

    h1 {
      margin: 0;
      font-size: 1rem;
      font-weight: 400;
    }

    &:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 0;
      border-bottom: 2px solid $contrast-color;
      transition: 0.5s;
    }
  }

  .description {
    margin: 0 auto 15px;

    p {
      color: $text-lighter-color;
      font-weight: 100;
      font-size: 0.925rem;
      line-height: 1.7;
      transition: 0.5s;
      // margin-right: 15px;
    }
  }
}

// trigger animations on article hover
.article {
  &:hover {
    .image {
      border-color: transparent;

      &:after {
        opacity: 1;
        height: 100%;
      }
    }

    .title {
      opacity: 0.8;

      &:before {
        width: 100%;
      }
    }

    .description {
      p {
        color: $text-base-color;
      }
    }
  }
}

// readMore animation
.readMore {
  position: relative;
  transition: 0.5s;

  &:before,
  &:after {
    content: "";
    transition: 0.5s;
    position: absolute;
  }

  &:before {
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    border-left: 1px solid $contrast-color;
    border-right: 1px solid $contrast-color;
  }

  &:after {
    left: 0;
    top: 0;
    border-top: 1px solid $contrast-color;
    height: 100%;
    width: 0;
  }

  &:hover {
    padding: 8px 15px;
    letter-spacing: 1px;
    font-weight: 100;
    opacity: 0.8;

    &:before {
      height: 100%;
    }

    &:after {
      width: 100%;
    }
  }
}
