@import "src/assets/styles/variables.scss";

.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  .heading {
    display: flex;
    justify-content: center;
    padding: 15px;

    h2 {
      font-size: 2.4rem;
      text-transform: uppercase;
      font-weight: 100;

      @include md {
        font-size: 1.25rem;
      }
    }
  }

  .articleGrid {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    @include md {
      flex-direction: column;
    }

    .articleGridItem {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0 10px;
      flex: 1;

      @include md {
        margin-bottom: 30px;
      }
    }
  }
}
